/* common */
.container {
    background-color: #FFFFFF;
    
}
ul {
    list-style-type: none;
   }
button {
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: 3px solid transparent;
    padding: 1.38rem 3.5rem;
    border-radius: 60px;
    margin-top: 41px;
    background-image: linear-gradient(67deg, #eb0c0cab, #ef8f00);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
      }

/* ===header================= */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: #FFFFFF;
    height: 36px;
    
}
.logo {
    display: inline-block;
    width: 198px;
    height: 36px;
    max-width: none;
    background-color: #FFFFFF;
}
.main-nav__item {
    display: none;
}
.main-nav__burger{
    margin-right: 2px;
    padding-right: 2px;
    
    
}
.section_hero {
    display: flex;
    background-color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 80px;
    
}
.nft__subtitle {
    text-transform: uppercase;    
    color: #FF3998;    
    width: 172px;
    height: 19px;
    left: 32px;
    top: 148px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    }
.nft__title {
    color: #111111;
    left: 32px;
    top: 191px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
}
.nft__text  {
   
    width: 274px;
    height: 120px;
    left: 32px;
    top: 331px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
}
.nft__ad {
    padding: 7rem 2rem 1rem 2rem;
    background-image: url(../img/background.svg);
    background-position: 85% 0%;
    /* position: absolute; */
    width: 428px;
    height: 326px;
    left: 0px;
    top: 638px;
}
h2 {
    width: 364px;
    height: 96px;
    left: 32px;
    top: 760px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    color: #111111;
    margin-bottom: 16px;
    margin-left: 32px;
}
.nft__adtext {
    width: 364px;
    height: 60px;
    left: 32px;
    top: 872px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
}
.section_companies {
    margin-top: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}
.none {
    display: none;
}
.boomerang {

}
.nft_list {
    margin-top: 56px;
    
}
.text_list{
    width: 364px;
    height: 90px;
    left: 32px;
    top: 1313px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-right: 32px;
    margin-left: 32px;
}
.cards {
    display: flex;
    overflow: hidden;
    background-color: #EEEEEE;
}
.footer .logo{
    
}
.footer {
    margin-left: 32px;
}
.footer p{
    margin-top: 20px;
}
.footer-text {
    display: inline-flexbox;
}
.footer-launch {
    display: none;
}
.socials {
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-nft {
    display: flex;
    width: auto;
    margin-top: 36px;
}
.about-nft h4 {
    margin-left: 32px;
}
.contact-social {
    display: flex;
    width: auto;
}
.contact-social h4 {
    margin-left: 32px;
}
.cards img {
    padding-left: 5px;
    padding-right: 5px;

}



/* desktop==================================== */

@media  screen and (min-width: 425px) {
.main-nav__burger {
    display: none;
}
.main-nav__item {
    display: initial;
    margin-left: 8px;
}
.main-nav__item.text_pink {
    color: rgb(223, 36, 167);
}
.container {
    width: 1280px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.header {
    width: 1280px;
}
.nft__text {
    width: 537px;
}
.nft__ad
{
    width: 1280px;
}
.section_companies {
    display:contents;
    align-items: center;
    justify-content: center;
    
}
.section_companies img {
    margin-left: 30px;
    width: fit-content;
}
.none {
    display: initial;
}
.nft_list h2 {
    display: inline;
}
.text_list {
    margin-top: 15px;
}
.upsell hr{
    display: none;
}
.footer-left {
    display: flex;
    align-items: center;
}
.container {
    width: 1280px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.footer-left p {
    display: inline-block;
    
}
.footer-bottom p{
    display: initial;
    color: #999999;
}
.footer-bottom  {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 32px;

}
}